@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 250, 250, 250;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 24, 24, 27;
    --background-end-rgb: 9, 9, 11;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

/* Smooth scrolling */
html {
  scroll-behavior: smooth;
}

/* Custom scrollbar */
/* ::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #f4f4f5;
}

::-webkit-scrollbar-thumb {
  background: #06b6d4;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: #0891b2;
}

.dark ::-webkit-scrollbar-track {
  background: #18181b;
}

.dark ::-webkit-scrollbar-thumb {
  background: #22d3ee;
}

.dark ::-webkit-scrollbar-thumb:hover {
  background: #06b6d4;
} */
